* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --cr-main-1: #2ac9de;
    --cr-main-2: #f087f4;
    --cr-1: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 20%);
    --cr-2: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 35%);
    --cr-3: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 50%);
    --cr-4: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 65%);
    --cr-5: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 80%);
  }
  
  /* html,
  body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
  }
  
  body {
    display: grid;
    place-content: center;
    background: whitesmoke;
  } */
  
  .blobs {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    filter: blur(140px);
  }
  
  .blob {
    width: max(240px, 28vw);
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .blob:nth-of-type(1) {
    background: var(--cr-main-1);
  }
  
  .blob:nth-of-type(2) {
    background: var(--cr-main-2);
  }
  
  .blob:nth-of-type(3) {
    background: var(--cr-1);
  }
  
  .blob:nth-of-type(4) {
    background: whitesmoke;
  }
  
  .blob:nth-of-type(5) {
    background: var(--cr-3);
  }
  
  .blob:nth-of-type(6) {
    background: var(--cr-4);
  }
  
  .blob:nth-of-type(7) {
    background: var(--cr-2);
  }